/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.luckiest-guy{
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}

/*---------------------------------------------------------------------------------------*/
/* PAGE COLORS */

:root {
    --dark : #222222;
    --color-primary: #FF7F00;
    --color-secondary: #FFB601;
    --darker-primary: #9B5100;
    --darker-secondary: #AC6A00;
    --twitch: #6441A5;
}

/*---------------------------------------------------------------------------------------*/
/*
    COMPONENTS
    - default button
    - section
    - server card
*/

.default-button{
    font-family: "Luckiest Guy", cursive;
    width: 10rem;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    border-radius: .3rem;
    transition: all .3s;
}

.default-button:hover{
    cursor: pointer;
    filter: brightness(0.9);
}

.section{
    min-height: 100vh;
    width: 100%;
    padding-bottom: 2rem;
}

.full-width{
    width: 100%;
}


.custom-col{
    width: 50%;
    height:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.custom-right{
    align-content: end;
}   

.footer-size{
    height: 10rem;
    padding: 2rem;
}
/*---------------------------------------------------------------------------------------*/
/*
    NAVBAR
    - navbar color
    - navbar active link
*/

.navbar-color{
    background-color: #9c6f4556;
}

.nav-button{
    width: 10rem;
}



/*---------------------------------------------------------------------------------------*/
/*
    PAGE STYLES
    - body
    - logo
    - divisor
    - momotivational phrase
*/

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: var(--dark);
    color: white;
}

.logo{
    background-image: url(./assets/SiteLogo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 20%;
    max-width: 50rem;
}

.divisor{
    margin-bottom: 1rem;
    max-width: 30rem;
    height: 5px;
    width: 80%;
    background: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
    border-radius:  100rem;
    color: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
}

.motivational-Phrase{
    font-family: "Luckiest Guy", cursive;
    font-size: 1.5rem;
    text-align: center;
    background-image: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-title{
    font-family: "Luckiest Guy", cursive;
    text-align: center;
    background-image: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.zero-two-display{
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: none;
    flex-wrap: nowrap;
    font-size: 1vw;
    background-image: linear-gradient(0deg, var(--color-primary), var(--color-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cat-display{
    margin-top: 2vw;
    flex-grow: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    resize: none;
    flex-wrap: nowrap;
    font-size: 0.8vw;
    color: black;
    margin-left: 6%;
}

.gradientBg{
    background: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
}

.text-container{
    background-color: var(--dark);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 10px;
    margin-top: 5rem;
}

.left-box{
    border-radius: 0rem 10px 10px 0rem;
    margin-left: -1.5%;
}

.right-box{
    border-radius: 10px 0rem 0rem 10px;
    margin-right: -3%;
}

.description{
    text-align: center;
    font-size: 1.8rem;
}

.minor-spacing{
    margin-top: 5rem
}

.color-orange{
    color: var(--color-primary);
}

.bigger-title{
    font-size: 4rem;
    margin-top: 5%;
}

.thanks{
    font-size: 1.5rem;
    color: white;
}
/*---------------------------------------------------------------------------------------*/
/*
    BUTTONS
    - gradient button
    - outline gradient button
    - outline twitch button
*/
.gradient-button{
    background: linear-gradient(90deg, var(--darker-secondary), var(--darker-primary));

    color: white;
}

.gradient-button.active{
    background: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
}

.gradient-outline-button{
    background: transparent;
    border: 3px solid;
    border-image: linear-gradient(90deg, var(--color-primary), var(--color-secondary)) 1;
    border-radius: .3rem;
    color: white;
}

.twitch-outline-button{
    background: transparent;
    border: 3px solid var(--twitch);
    color: var(--twitch);
}

@media (max-width: 1024px){

    .motivational-Phrase{
        font-size: 1rem;
    }
    
    .nav-button{
        width: 5rem;
    }

    .text-container{
        width: 95%;
    }

    .minor-spacing{
        margin-top: -20rem
    }
    
    .custom-col{
        width: 100%;
        height: auto;
    }

    .description{
        font-size: 1.2rem;
    }


    .text-container{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .bigger-title{
        font-size: 2.5rem;
        margin-top: 20%;
    }

    .thanks{
        font-size: 0.9rem;
    }
}